* {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-weight: normal;
    color: #333333;
}
body{
    padding: 0;
    margin: 0;
    background-color: #F5F4F0;
}
main, footer {
    margin-right: auto;
    margin-left: auto;
    margin-top: 88px;
    width: 1120px;
}

span {
    color: #E1624F;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
}

span + h1, span + h2 {
    margin: 0;
}

img {
    width: 100%;
}

h1 + img {
    border-radius: 16px;
}

h1 {
    font-size: 36px;
    padding-bottom: 40px;
    padding-top: 8px;
    font-weight: bold;
}

figcaption + section, section + p{
    border-top: solid 1px #D9D9D9;
}

figcaption {
    margin-top: 24px;
    margin-bottom: 44px;
    font-style: italic;
    text-align: center;
}

h2 {
    font-size: 32px;
    padding-top: 2px;
    padding-bottom: 8px;
    font-weight: bold;
}

#content {
    padding-top: 64px;
}

#haedong-yonggungsa {
    margin-top: 64px;
}
#beomeo-sa, #yongdusan{
    margin-top: 48px;
}

#yongdusan {
    margin-bottom: 40px;
}

h3 {
    font-size: 28px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 4px;
    padding-left: 10px;
}

section + p {
    padding-top: 40px;
    text-align: center;
}

br + p, li{
    font-weight: bold;
}

ul {
    display: block;
    padding-left: 20px;
}

#li1, #li2 {
    color: #0C51A7;
}

#li3{
    color: #591B98;
}

#li4{
    color: #E5245E;
}

#li5{
    color: #E95E10;
}

footer {
    text-align: center;
    margin-top: 68px;
    margin-bottom: 45px;

}